.homepage {
    position: relative;
}
.masala {
    font-size: 20px;
    color: #273773;
    margin-top: 10px;
}
.homepageHeader {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}
.homepageHeader > h1 {
    color: #8BD8BD;
    font-weight: bolder;
    letter-spacing: 10px;
    font-family: cursive;
}
.homepageContent {
    padding-bottom: 100px;
    width: 100%;
    display: flex;
    padding-top: 80px;
    align-items: center;
    flex-direction: column;
    background: url("../../assets/bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.homepageContentLogoContainer {
    display: flex;
    overflow-x: scroll;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    width: 100%;
}
.imgLogo {
    width: 200px;
    height: 200px;
    margin: 10px 50px;
    border-radius: 20%;
}

@media only screen and (max-width: 500px){
    .homepageHeader {
        padding: 30px;
    }
    .homepageHeader > h1 {
       font-size: 20px;
    }
}