.toggleBtn{
    height: 34px;
    width: 46px;
    display: flex;
    background-color: #273773;
    justify-content: center;
    align-items: center;
    margin-left: -20px;
    flex-direction: column;
    outline: none !important;
    border: none !important;
    cursor: pointer;
    flex: 1;
}
.menuIcons{
    font-size: 40px !important;
    color: whitesmoke;
}