.map{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    padding-top: 100px;
    padding-left: 20px;
    align-items: center;

}
.map1{
 border-radius: 20px;
 border: solid 8px #8BD8BD;
}
.markerPic{
    font-size: 30px;
    color: red;
}

.popUp{
    max-width: 300px;
    width: 600px;
    padding: 20px;
}

.popUp > h4 {
    padding-bottom: 20px;
}

.markerPicAdd{
    font-size: 30px;
    color: green;
}