.map {
    position: relative;
    width: 100%;
    display: flex;
    padding-top: 100px;
    align-items: center;
    flex-direction: column;

}
.sartsugWaste{
    width: 100%;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;

}
.cleanIcon{
    font-size: 30px;
    color: #8BD8BD;
}
.sartsugWaste > p{
    font-size: 30px;
    letter-spacing: 10px;
    font-weight: 800;
    color: #000000;
    margin-left: 15px;
    font-family: sans-serif;
    margin-bottom: 20px;
    
}
.mapContentMain{
    display: flex;
    height: 680px;
    padding-left: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -40px;
    background-color: whitesmoke;
    
}
.map1 {
    border-radius: 20px;
    border: solid 8px #8BD8BD;
    flex: 1;
    height: 100% !important;
}

.markerPic {
    font-size: 30px;
    color: red;
    cursor: pointer;
    z-index: 500 !important;
}

.popUp {
    max-width: 300px;
    width: 600px;
    padding: 20px;
}

.popUp > h5 {
    padding-bottom: 0px;
    font-size: 20px;
}

.popUpInner{
    /* background-color: red; */
    z-index: 1000 !important;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.popUpInner > p{
    margin-top: 10px;
}
span{
    color: #273773;
    font-weight: bold;
}

.markerPicAdd {
    font-size: 30px;
    color: green;
}
.popUpBtn{
    background-color: #8BD8BD !important;
    color: white !important;
    margin-top: 10px;
}
.markerYellow{
    color: yellow;
}

.instructionBox {
    background-color: #8BD8BD;
    -webkit-box-shadow: 2px 3px 2px 4px rgba(139,216,189,1);
    box-shadow: 2px 3px 2px 4px rgba(139,216,189,1);
    height:500px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 30px;
    padding: 20px;
}

.instructionBox > p{
    font-size: 20px;
    letter-spacing: 8px;
    font-weight: bold;
    text-align: center;
}
.instructions{
    background-color: white;
    margin-top: 40px;
    padding: 0 25px;

}

.instructions > ul > li{
    margin-top: 20px;
}
li > span{
    color: #273773;
    font-weight: bold;
}
.appreciation{
    margin-top: 30px;
    margin-bottom: 20px;
}