.signInContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.formTitle{
    margin-bottom: 50px;
}
.errorBox{
    color: red;
    height: 100px;
    padding: 20px;
}
.error{
    color: red;
    margin-top: 20px;
}
.signIn{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column;
    
}
.formTitle > h1 {
    font-size: 30px;
    color: #8BD8BD;
    font-family: cursive;
}

.gridContainer{
    width: 80% !important;
}
form{
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.field{
    display: flex;
}
.textField{
    width: 100%;
    margin-top: 20px;
}
.textField:nth-child(1){
   margin-bottom: 20px;
}
.signInBtn{
    padding: 10px 20px !important;
    background-color: #8BD8BD !important;
    color: white !important;
    /* width: 500px !important; */
    width: 33.5%;
    margin-top: 10px !important;
}
